*
!Dockerfile
!index.html
!manifest.json
!pwa-icon.svg
!blank.png
!back.png
!deck.png
!*.png
!sw.js
!voicelines.txt
!server/
!server/**
!src/
!src/**
!optimized/
!optimized/**
!titlscreenbackgrounds/
!titlscreenbackgrounds/**
!ingamebackgrouds/
!ingamebackgrouds/**
!igb17/
!igb17/**
!setvoicelines/
!setvoicelines/**
!new voices/
!new voices/**
!soundeffects/
!soundeffects/**
!afficon/
!afficon/**
!aiicons/
!aiicons/**
!rankicons/
!rankicons/**
!pfp/
!pfp/**
!UIpictures/
!UIpictures/**
!fates-entwined-website/
!fates-entwined-website/**
!fates-entwined-website/installer/
!fates-entwined-website/installer/**
fates-entwined-website/installer/Fates-Entwined-Installer.exe
